// nf-core base config covers these cases already in a safe way
// params {
//   // Defaults only, expecting to be overwritten
//   max_memory = 64.GB
//   max_cpus = 16
//   max_time = 6.h
// }
// singularity {
//   enabled = true
//   autoMounts = true
//   // by default sets it to work/singularity dir
//   // cacheDir = "$baseDir/singularity_img/"
// }

process {
  executor = "slurm"
  // queue = "amd"
  // Increasing maxRetries, this will overwrite what we have in base.config
  maxRetries = 3
  // stageInMode = "symlink"
  // stageOutMode = "rsync"
  errorStrategy = "retry"
} 

// don't plug the server
executor {
  queueSize = 4
  // submitRateLimit = 4
}
